.gitignore
syslog-ng.conf-private
functions-private
fstab-private
hosts-private
iptables.rules-private
ssh_config
my.cnf
*private*
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/aliases-private
